*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar-track {
  border-radius: 0.125rem;
  padding: 0.3rem;
  background-color: lightgray;
}

::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 0.125rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.125rem;
  background-color: gray;
}
